RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php?custom_query=$0 [QSA]

Options -Indexes

<FilesMatch '\.^(css)$'>
  Deny from all
</FilesMatch>

<FilesMatch "index\.php$">
  Allow from all
</FilesMatch>
