<ul class="btn-group-vertical btn-group-lg d-flex p-0">
  <a class="btn btn-outline-secondary" href="{{ BASE_URL }}article/{{ id_article }}/edit_article">Edit</a>
  <a class="btn btn-outline-secondary" href="{{ BASE_URL }}article/{{ id_article }}/delete_article">Delete</a>
</ul>
