<div class="articles">
  {% for article in articles %}
    <div class="article mb-4">
      <h2>{{ article.title }}</h2>
      <a class="btn btn-outline-primary" href="{{ BASE_URL }}article/{{ article.id_article }}">Read more</a>
    </div>
  {% endfor %}
</div>
{% endif %}
